.main-footer {
  background-color: #f8f8f8;
  padding-top: 9px;
  padding-bottom: 9px;
  display: grid;
  grid-template-rows: auto auto auto;
}

.footer {
  width: min(1200px, 97vw);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer .footer-one {
  width: 100%;
  margin-bottom: 40px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.footer .footer-one > ul {
  width: 100%;
  margin: 0 auto;
}

.foot h1.title {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: first baseline;
}

.footer li.list {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #444;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer li.list a {
  text-decoration: none;
  color: #444;
}

.footer li.list a:hover {
  text-decoration: underline;
}

.subscribe {
  border-left: 1px solid #555;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #444;
}

.lisu {
  margin-bottom: 20px;
}

.second-footer {
  background-color: #e5e5e5;
  text-align: center;
}

.second-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.second-footer ul li {
  font-size: 8px;
  color: #555;
  margin: 5px;
}

.second-footer ul li:first-child {
  margin-left: 0;
}

.second-footer ul li:last-child {
  margin-right: 0;
}
