.home {
    color:  #145181;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5em;
    font-weight: lighter;
    float: right;
}

.footer {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    border-top: 4px double lightgray;
    
}

.footer h1 {
    text-align: left;
}

.li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.li ul li:first-child {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: .8rem;
}

.li ul ul li:hover {
    text-decoration: underline;
}

.li ul .list ul {
    margin-top: 10px;
    font-size: 1.1em;
}

 
.li ul .list ul li {
    text-transform: capitalize;
    font-weight: 400;
    padding: 5px 0;
}

.subscribe {
    border-left: 0.1rem solid lightgray;
    padding-left: 20px;
}

.subscribe ul li:nth-child(4), .subscribe ul li:nth-child(7) {
    border-bottom: 0.1rem solid lightgray;
}

.css-r5ic95 {
    width: 12px;
    font-weight: bold;
}

.li .subscribe ul li:nth-child(-n+4) {
    font-size: 1.1em;
    font-weight: bold;
}

.li .subscribe ul li {
    font-size: .7em;
}

.second-footer {
    border-top: 0.1rem solid lightgray;
    font-size: 0.7em;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;  
    display: flex;
    
    justify-content: center;
}

.second-footer ul {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 10px;
    width: 90%;
}

.second-footer ul li {
    min-width: 100px;
    padding: 5px;
    flex: 1;
}

.second-footer ul li:first-child {
    flex: 5;
}




@media only screen and (max-width: 1150px) {
    .primary-footer h1, .li ul li:first-child {
        border-bottom: 0.1rem solid lightgray;
        padding: 12px 0;
    }

    .li ul:nth-of-type(5) .list {
        border-bottom: none;
    }

    .li {
        flex-direction: column;
    }

    .list ul, .subscribe {
        display: none;
        columns: 2;
        
    }

    .list ul li:first-child {
        border-bottom: none;
    }


    .active ul {
        display: block;
        color: black;
    }

    .active {
        color: rgb(184, 179, 179);
    }

}

